*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.div-form form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.80);
    padding: 50px;
    border-radius: 10px;
}

form input{
    padding: 15px 40px;
    border: 1px solid #000;
    margin-top: 15px;
}